{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}File Upload Example{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Upload</a>
        </div>
    </nav>
    </script>
{% endblock %}

{% block content %}
<style>
.pipeline-item{
	background:blue;
	color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    font-size: 24px;
    border-radius: 5px;
    text-align: justify;
    float: inline-block;
}
.pipeline-item:hover{
    background: red;
}
</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.1.min.js">
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js">
</script>
<script type="text/javascript">

	$(document).ready(function(){
        // var sortable = Sortable.create($("#pipeline"));
        var editableList = Sortable.create(editable, {
          filter: '.js-remove',
          onFilter: function (evt) {
            var el = editableList.closest(evt.item); // get dragged item
            el && el.parentNode.removeChild(el);
          }
        });

        $("#submitForm").submit(function(e){

            e.preventDefault();
            var p_items = []
            $("#editable").children().each(function(){
                p_items.push($(this).val());
            });

            // console.log(p_items);


        });

		$("#add-item").on("click",function(){
            // alert("Yes");
            // var pl = document.getElementById("pipeline");
            console.log($('#selector').find(":selected").val());
            var new_item = "<div class='pipeline-item js-remove' value='"+$('#selector').find(":selected").val()+"'>"
                            + $('#selector').find(":selected").text()+"</div>";
            $("#editable").append(new_item);
        });
	});

</script>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                Pipeline

                    <select id="selector">
                        <!-- {% if lst %} -->
                        {% for i in lst %}
                        <option value="{{i[0]}}">
                            {{i[1]}}
                        </option>
                        {% endfor %}
                        <!-- {% endif %} -->
                    </select>
                    <button id="add-item" click="add_operation">
                        Add operation
                    </button>

                    <a name="e"></a>

                        <div style="margin-top: 20px;">
                                <div id="editable">
                                </div>
                        </div>
            </div>
            <div class="col-md-2">
                Parameters
                <!-- {{ wtf.quick_form(pform, enctype='multipart/form-data') }} -->
                <form id="submitForm">
                    <input type="submit" value="Final Submit"></input>
                </form>
            </div>
            <div class="col-md-7">
                {{ wtf.quick_form(uform, enctype='multipart/form-data') }}
                {% if image %}
                    <img width="700" src="{{ url_for('static', filename=image) }}">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
