<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!--     <meta name="description" content="">
    <meta name="author" content="">
 -->
    <title>
        Demo
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="http://www.tutorialspoint.com/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/one-page-wonder.css') }}">
    <script src="http://www.tutorialspoint.com/bootstrap/scripts/jquery.min.js">
    </script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js">
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://www.tutorialspoint.com/bootstrap/js/bootstrap.min.js">
    </script>
    <script type="text/javascript">
        var loadFile = function(event) {
            $("#pipeline_list").empty();
            // $("#preview_list").empty();
            // $("#preview_list").append('<li><img id="output" width="400"/></li>')
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        function add_to_pipeline(){
            // console.log("In function");
            var mySelect = document.getElementById("select_list");
            var operator = mySelect.options[ mySelect.selectedIndex ].label;
            // console.log(mySelect.options[ mySelect.selectedIndex ].value);
            $("#pipeline_list").append('<li> '+ operator +'</li>');
            submit_to_server();
        }

        function submit_to_server(){
            // e.preventDefault(e);
            var img = new FormData();
            img.append('file',$("#output")[0]);
            // var canvas = document.createElement('canvas');
            // var context = canvas.getContext('2d');
            // var image = document.getElementById('output');
            // context.drawImage(image,0,0);
            // img.append('file',context.getImageData(0,0,image.width,image.height));
            // $("canvas").remove();
            // Debugging statement
            //$("#preview_list li:last-child").dialog();
            $.ajax({
                type : "POST",
                url : "/_process",
                data : img,
                contentType: false,
                dataType: false,
                cache: false,
                processData: false,
                success: function(data,textStatus,jqXHR) {
                    alert(data['result']);
                }
            });
        }

    </script>
</head>

<body>
    <h1 class="thick-heading">
        Toy Task #2
    </h1>

    <div class="container">
            <div class="row">
                    <input type="file" accept="image/*" onchange="loadFile(event)">

            </div>

            <div class="row">
                <div class="col-md-3">
                    Pipeline
                    <br>
                    <!-- <form action="/process"> -->
                        <select id="select_list">
                            {% for l in list %}
                                <option value={{ l.index }}>{{ l.name }}</option>
                            {% endfor %}
                        </select>
                        <input type="button" id="p_submit" value="Add to pipeline" onclick="add_to_pipeline()">
                    <!-- </form> -->
                    <ul id="pipeline_list">

                    </ul>
                </div>
                <div class="col-md-4">
                    Parameters

                <img id="hidden" value="this will change"/>
                </div>
                <div class="col-md-5">
                    Status
                <br>
                <image id="output" src="" />
<!--                 <ul id="preview_list">

                </ul>
 -->
                </div>
            </div>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
</body>

</html>