{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}File Upload Example{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Upload</a>
        </div>
    </nav>
    </script>
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="{{url_for('static',filename=plumb)}}"></script>
<script src="{{url_for('static',filename=app)}}"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://jsplumbtoolkit.com/css/jsPlumbToolkit-defaults.css">
<link rel="stylesheet" href="https://jsplumbtoolkit.com/css/jsPlumbToolkit-demo.css">
<link rel="stylesheet" href="{{url_for('static',filename=app_css)}}">
<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js">
</script>
<script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(document).ready(function(){
        // var sortable = Sortable.create($("#pipeline"));
        $("#submitForm").submit(function(e){

            e.preventDefault();
            var p_items = []

            // Get stuff in p_items

            var data = new FormData();
            data.append('arr',p_items)
            $.ajax({
               type: "POST",
               url: $SCRIPT_ROOT + "/apply",
               data: data,
               processData: false,
               contentType: false,
               success: function(msg){
                 console.log(msg.result);
                 $("#preview").attr("src",msg.result);
               }
            });
        });

        $("#add-item").on("click",function(){
            console.log("Adding "+$('#selector').find(":selected").val());
            var new_item = "<li class='pipeline-item' value='"+$('#selector').find(":selected").val()+"'>"
                            + $('#selector').find(":selected").text()+"<i class='js-remove'>✖</i></li>";
            $("#editable").append(new_item);
        });
    });

</script>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                Pipeline

                <form id="submitForm">
                    <select id="selector">
                        <!-- {% if lst %} -->
                        {% for i in lst %}
                        <option value="{{i[0]}}">
                            {{i[1]}}
                        </option>
                        {% endfor %}
                        <!-- {% endif %} -->
                    </select>
                    <button type="button" onclick="addNode()"> Add operation</button>
                    <input type="submit" value="Final Submit"></input>
                </form>

<!-- demo -->
                <div class="jtk-demo-canvas canvas-wide flowchart-demo jtk-surface jtk-surface-nopan" id="canvas">
                </div>
<!-- /demo -->
            </div>
            <div class="col-md-3">
                {{ wtf.quick_form(uform, enctype='multipart/form-data') }}
                <p id="response"></p>
                {% if image %}
                    <img id="original" width="300" src="{{ url_for('static', filename=image) }}">
                    <br>
                    <br>
                    <img id="preview" width="300" src="{{ url_for('static', filename=image) }}">

                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}