<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<!--     <meta name="description" content="">
    <meta name="author" content="">
 -->
    <title>
        Demo
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="http://www.tutorialspoint.com/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/one-page-wonder.css') }}">
    <script src="http://www.tutorialspoint.com/bootstrap/scripts/jquery.min.js">
    </script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js">
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://www.tutorialspoint.com/bootstrap/js/bootstrap.min.js">
    </script>
    <script type="text/javascript">
        var loadFile = function(event) {
            $("#pipeline_list").empty();
            $("#preview_list").empty();
            $("#preview_list").append('<li><img id="output" width="400"/></li>')
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };

        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(function() {
            $('#p_submit').bind('click', function() {

                var mySelect = document.getElementById("select_list");
                var operator = mySelect.options[ mySelect.selectedIndex ].label;

                // console.log(mySelect.options[ mySelect.selectedIndex ].value);
                $("#pipeline_list").append('<li> '+ operator +'</li>');
                var img = new FormData();
                img.append('file',$("#preview_list li:last-child")[0]);


              $.getJSON($SCRIPT_ROOT + '/_process', {
                file: img
              }, function(data) {
                alert(data['result']);
              });
              return false;
            });
          });
    </script>
</head>

<body>
    <h1 class="thick-heading">
        Toy Task #2
    </h1>

    <div class="container">
            <div class="row">
                    <input type="file" accept="image/*" onchange="loadFile(event)">

            </div>

            <div class="row">
                <div class="col-md-3">
                    Pipeline
                    <br>
                    <!-- <form action="/process"> -->
                        <select id="select_list">
                            {% for l in list %}
                                <option value={{ l.index }}>{{ l.name }}</option>
                            {% endfor %}
                        </select>
                        <input type="button" id="p_submit" value="Add to pipeline">
                    <!-- </form> -->
                    <ul id="pipeline_list">

                    </ul>
                </div>
                <div class="col-md-4">
                    Parameters

                </div>
                <div class="col-md-5">
                    Status
                <br>

                <ul id="preview_list">
                <!-- Append at will -->

                </ul>

                </div>
            </div>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
</body>

</html>